.bg-base-lightest {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 115vh; /* You can adjust the height if needed */
}

/* Adjust the form width if necessary */
#w2-submit-form {
  width: 50%; /* Change this value to your desired width */
}



